
body {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1em
}
p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}
receiver-column {
  text-align: right;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
